@media(max-width: 650px){
    .cabecalho {
        justify-content: center;
    }

    .cabecalho .navegacao{
        margin-top: 15px;
    }
}

@media(max-width: 500px){
    .rodape{
        padding: 50px;
    }
}

@media(max-width: 400px){
    .cabecalho .navegacao .menu .item a{
        font-size: calc(0.7em + 1vw);
    }
}

